body {
	font-size: 16px;
	font-family: 'Oxygen', sans-serif;
	color: #333;
	background-color: #DDD;
}

.back-top {
	color: #EEE;
	text-decoration: none;
	font-weight: 400;
	font-size: .8em;
	border: 1px solid #EEE;
	padding: 5px;
}

.back-top:hover {
	background-color: #EEE;
	color: #43895E;
	text-decoration: none;
}
/* HEADER */
#header-nav {
	background-color: #43895E;
	border-radius: 0;
	border: 0;
	padding-top: 15px;
	padding-bottom: 15px;
}

.navbar {
	margin-bottom: 0;
}

.navbar-nav {
	margin-top: -1px;
}

.navbar-default .navbar-brand { /* text in header, Food, LLC */
	font-family: 'Oxygen', serif;
	color: #FFFFFF;
	font-size: 1.5em;
	text-transform: uppercase;
	font-weight: bold;
	text-shadow: 2px 2px 2px #666;
	margin-top: 0;
	margin-bottom: 0;
	line-height: .75;
	padding-top: 15px;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
	border: 1px solid #EEEEEE;
}

.navbar-header button.navbar-toggle {
	clear: both;
}

#nav-list {
	background-color: #EEEEEE;
}

#nav-list a {
	color: #43895E;
	text-align: center;
	border: 1px solid #43805E;
}

#nav-list a:hover {
	background: #43895E;
	color: #EEEEEE;
}

#nav-list a span {
	font-size: 1.6em;
	font-weight: 500;
}

#collapsable-nav a span {
	font-size: 1.2em;
}

.menu-title {
	text-shadow: 2px 2px 2px #555;
}

.show-content {
	margin-top: 20px;
	padding: 20px 30px;
	background-color: #43895E;
	color: #EEE;
	border: 10px solid #DDD;
}